<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<body>
  <div class='container'>
    <div class="jumbotron">
      <header>
         <!-- Log in -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">
          Log in
        </button> 
  
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="login" action='localhost:5002/user' method='post'>
                  <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" name= "Name" placeholder="User Name" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="Password" placeholder="Password" required>
                  </div>
                <form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="login">Connect</button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel panel-default">
        <div class="panel-heading">New post</div>
        <div class="panel-body">
          <form action="/api/add_post" method= "post">
            <div class="form-group"> <!-- Post field !-->
              <textarea class="form-control" id="post_id" name="post" placeholder="Type your post"></textarea>
            </div>
            <div class="form-group"> <!-- Submit button !-->
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>	
          </form>
        </div>
      </div>
      {% for post in posts %}
        <div class="panel panel-default">
          <div class="panel-heading">{{post.user_id}} - {{post.time.strftime("%c")}}</div>
          <div class="panel-body">{{post.content}}</div>
          <div class="panel-footer"></div>
        </div> 
      {% endfor %}      
    </div> 
  </div>
  <script>{% include 'jquery.js' %}</script>
</body>
</html>